{% extends 'animeval/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/admin/css/all.css' %}">
<link rel="stylesheet" href="{% static '/admin/css/home.css' %}">
<div id = 'wrapper'>
    {% if rec_anime%}
    <section id = 'trend'>
        <div id = 'trend-anime'>
            <div id = 'trend-title' class = 'link-title'>
                <h4>あなたへのおすすめアニメ : {{rec_anime.title}}</h4>
            </div>
            <div id = 'trend-info'>
                <div id = 'trend-graph'>
                    <p class = 'trend-info-title'>あなたへのおすすめ度</p>
                    <img src="{% url 'trend_image' rec_anime.pk %}" alt="" width = '300' height = '200'>
                </div>
                <div id = 'trend-detail'>
                    <p class = 'trend-info-title'>アニメ情報</p>
                    <ul id = 'trend-detail1'>
                        <li>
                            <h6>総合順位 : {{rank}} 位</h6>
                        </li>
                        <li>
                            <h6>ジャンル内順位 : {{rank}} 位</h6>
                        </li>
                        <li>
                            <h6>投稿数 : {{review_count}} 件</h6>
                        </li>
                        <li>
                            <h6>ジャンル : {{rec_anime.genre}}</h6>
                        </li>
                    </ul>
                </div>
                <div id = 'reviwer-list'>
                    <p class = 'trend-info-title'>評価しているユーザー</p>
                    <ul id = 'reviwer-list-info'>
                        {% for review in rec_anime_reviews %}
                        <li>
                            <div id = profile-info>
                                <div>
                                    <img src="{{review.profile.avator.url}}" alt="" width = 70 height = 70 id = 'avator'>
                                    <p>{{review.profile.nickname}}</p>
                                </div>
                                <div>
                                    <h6><a href="{% url 'animeval:review_detail' review.pk %}">{{review.evaluation_ave}} {{review.review_title}}</a></h6>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% if anime_list %}
    <section>
        <div id = 'anime-rank'>
            <div id = 'rank-title'>
                <h4>今週の人気アニメ</h4>
            </div>
            <div id = 'anime-rank-list'>
                {% for anime in anime_list %}
                <div class = 'anime'>
                    <div class = 'anime-title'>
                        {% if forloop.first %}
                        <h5><i class="fas fa-crown" id = 'first'></i> {{forloop.counter}} 位</h5>
                        {% elif forloop.last %}
                        <h5><i class="fas fa-crown" id = third></i> {{forloop.counter}} 位</h5>
                        {% else %}
                        <h5><i class="fas fa-crown" id = 'second'></i> {{forloop.counter}} 位</h5>
                        {% endif %}
                        <p>{{anime.title}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}

    <section id = contents>
        <div id = 'review-list'>
            <p class = 'link-title'>レビュー一覧</p>
            <div id = 'main'>
                {% for review in reviewmodel_list %}
                <div id = 'review-item'>
                    <div id = 'profile'>
                        <img src="{{review.profile.avator.url}}" alt="" width = 100 height = 100 id = 'avator'>
                        <p>{{review.profile.nickname}}</p>
                    </div>
                    <div id = 'review'>
                        <div id = 'title'>
                            <a href="{% url 'animeval:review_detail' review.pk %}">
                            <div id = 'review-title'>
                                <h4>{{review.evaluation_ave}}</h4>
                                <h4>{{review.review_title}}</h4>
                            </div>
                            </a>
                            <div id = 'anime-title'>
                                <h6>Anime : {{review.anime.title}}</h6>
                                <h6>Genre : {{review.anime.genre}}</h6>
                            </div>
                        </div>
                        <div id = 'review-content'>
                            <p id = 'content'>{{review.review_content | linebreaksbr}}</p>
                            <a href="{% url 'animeval:review_detail' review.pk %}"><p id = 'detail-btn'>続きを見る</p></a>
                        </div>
                        <div id = 'icon'>
                            <p>Comment <i class="fas fa-comments"></i> ({{review.comment_set.count}})</p> 
                            <p><a id = 'like' href="{% url 'animeval:like' review.pk request.user.pk %}">イイね<i class="fas fa-thumbs-up"></i></a>
                                ({{review.like_set.count}})
                            </p>
                            <p>{{review.post_date}}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div id = 'review-item'>
                    <p>投稿はありません</p>
                </div>                
                {% endfor %}
            </div>
            <div id = 'pagination'>
                {% if is_paginated %}
                    <ul class = 'pagination'>
                        {% if page_obj.has_previous %}
                            <li class = 'page-item'>
                                <a href="?page={{ page_obj.previous_page_number }}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
            
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                            <li class = 'page-item active'>
                                <a href="#">{{page_num}}</a>
                            </li>
                            {% else %}
                            <li class = 'page-item'>
                                <a href="?page={{ page_num }}">{{page_num}}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
            
                        {% if page_obj.has_next %}
                        <li class = 'page-item'>
                            <a href="?page={{ page_obj.next_page_number }}">
                                <span aria-hidden = 'true'>&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div id = 'link-list'>
            <p class = 'link-title'>アニメ一覧</p>
            <div id = 'anime-list' class = 'link'>
                <ul id = 'kana-list'>
                    {% for kana in kana_list %}
                        <div>
                            {% for char in kana %}
                            <a href="{% url 'animeval:anime_list' char %}"><li id = 'kana'>{{char}}</li></a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

</div>
<script src = "{% static '/admin/js/home.js' %}"></script>
{% endblock content %}
