{% extends 'animeval/base-mod.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'mypage-mod.css' %}">

<div id = 'main'>
    <div class = 'info'>
        <section id = 'profile'>
            <h1>{{profile.nickname}}</h1>
            <img src="{{profile.avator.url}}" alt="" class = 'avator' width = '100' height = '100'>
        </section>

        <section id = 'profile-items'>
            <h1 class = 'title'>プロフィール</h1>
            <div class = 'content'>
                <ul>
                    <li>Gender : {{profile.get_gender_display}}</li>
                    <li>Review Posted : {{reviews.count}}</li>
                    <li>Favarite Anime : {{profile.favarite_anime}}</li>
                </ul>
                <h2><a href="{%url 'animeval:update_profile' profile.id %}">プロフィールを編集する</a></h2>
            </div>
        </section>
    </div>

    <div class = 'review'>
        <ul class = 'menu'>
            <li><a href="#" class = 'active' data-id = 'my-review'>マイレビュー</a></li>
            <li><a href="#" data-id = 'access-review'>アクセスレビュー</a></li>
        </ul>
        
        <section class = 'content active' id  ='my-review'>
            <div id = 'review-list'>
                {% for review in reviews %}
                    <div id = 'review'>
                        <h1><a href="{% url 'animeval:review_detail' review.pk %}">{{review.evaluation_ave}} {{review.review_title}}</a></h1>
                        <p>Anime : {{review.anime.title}}</p>
                        <p id = 'content'>{{review.review_content | linebreaksbr}}</p>
                        <div class = review-footer>
                            <div class = 'myreview-updel'>
                                <ul>
                                    <li><a href="{% url 'animeval:update_review' review.pk %}" class = 'btn'>Update</a></li>
                                    <li><a href="{% url 'animeval:delete_review' review.pk %}" class = 'btn'>Delete</a></li>
                                </ul>
                            </div>
                            <div class = 'review-icons'>
                                <ul>
                                    <li>Comment <i class="fas fa-comments"></i> ({{review.comment_set.count}})</li>
                                    <li>イイね<i class="fas fa-thumbs-up"></i> ({{review.like_set.count}})</li>
                                    <li>{{review.post_date}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id = 'context'>
                <h2>{{ context2 }}</h2>
            </div>
        </section>
        <section class = 'content' id = 'access-review'>
            <div id = 'review-list'>
                {% for review in access_reviews %}
                    <div id = 'review'>
                        <div class = 'access-review-header'>
                            <div class = 'profile'>
                                <img src="{{review.review.profile.avator.url}}" alt="" width="80px" height="80px" class = 'avator'>
                                <p>{{review.review.profile.nickname}}</p>
                            </div>
                            <div>
                                <h1><a href="{% url 'animeval:review_detail' review.review.pk %}">{{review.review.evaluation_ave}} {{review.review.review_title}}</a></h1>
                                <p>Anime : {{review.review.anime.title}}</p>
                            </div>
                        </div>
                        <p id = 'content'>{{review.review.review_content | linebreaksbr}}</p>
                        <div class = 'review-icons'>
                            <ul>
                                <li>Comment <i class="fas fa-comments"></i> ({{review.review.comment_set.count}})</li>
                                <li>イイね<i class="fas fa-thumbs-up"></i> ({{review.review.like_set.count}})</li>
                                <li>{{review.created_at}}</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id = 'context'>
                <h2>{{ context2 }}</h2>
            </div>
        </section>
    </div>
</div>

        
<script src = "{% static 'profile.js' %}"></script>
{% endblock content %}