{% extends 'animeval/base.html' %}
{% load static %} 
{% block content %}
    <link rel="stylesheet" href="{% static 'all.css' %}">
    <link rel="stylesheet" href="{% static 'detail.css' %}">

<div id = 'wrapper'>
    <div id = 'main'>
        <div id = 'review'>
            <section id = 'section1'>
                <div id = 'review-header'>
                    <div id = 'profile'>
                        <img src="{{review.profile.avator.url}}" alt="profile image" width = 100 height = 100 id = 'avator'>
                        <p>{{review.profile.nickname}}</p>
                    </div>
                    <div id = 'title'>
                        <div id = 'review-title'>
                            <h4>{{review.review_title}}</h4>
                        </div>
                        <div id = 'anime-title'>
                            <p>{{review.anime.title}} (ジャンル : {{review.anime.genre}})</p>
                        </div>
                    </div>
                </div>
                <div id = 'review-content'>
                    <p>{{review.review_content| linebreaksbr}}</p>
                </div>
            </section>
            <section id = 'section2'>
                <div id = 'evaluation-detail'>
                    <p>総合評価 : {{review.evaluation_ave}}</p>
                </div>
                <div id = 'evaluation-graph'>
                    <img src= "{% url 'animeval:image' review.pk %}" width = '400' height = '300'>
                </div>
            </section>
        </div>
        <div id = 'comment-list'>
            <p>コメント一覧</p>
            {% for comment in comment_list %}
                <div id = 'comment-header'>
                    <p>{{comment.user.username}}</p> 
                    <p id = 'comment-date'>{{comment.created_at}}</p>
                </div>
                <div id = 'comment-content'>
                    <p id = 'content'>{{comment.comment}}</p>
                    <a href=""><p>続きを読む</p></a>
                </div>
                <div id = 'reply'>
                    <a href="{% url 'animeval:create_reply' comment.pk %}"><p>返信</p></a>
                </div>
                <div>
                    <a href="" id = 'reply-display'>返信を表示する</a>
                    <div id = 'reply-list' style = 'display:none'>
                        {% for reply in reply_list %}
                            {% if reply.comment == comment %}
                            <div id = 'reply-header'>
                                <p>{{reply.user.username}}</p>
                                <p id = 'reply-date'>{{reply.created_at}}</p>
                            </div>
                            <div id = 'reply-content'>
                                <p id = 'content'>{{reply.reply}}</p>
                                <a href=""><p>続きを読む</p></a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <a href="{% url 'animeval:create_comment' review.pk %}">コメントを書く</a>
        </div>
    </div>    
    
    <div>
        <section id = 'section3'>
            <div id = 'random-review-header'>
                <h4>{{review.profile.nickname}}さんのその他の投稿</h4>
            </div>
            <div id = 'random-review-list'>
                {% for review in review_list%}
                    <div id = 'random-review'>
                        <div id = 'random-review-title'>
                            <h6>{{review.evaluation_value_ave}} {{review.review_title}}</h6>
                            <p>Anime : {{review.anime_title.anime_title}}</p>
                        </div>
                        <div id = 'random-review-content'>
                            <p id = 'content'>{{review.review_content}}</p>
                            <a href="{% url 'animeval:review_detail' review.pk %}"><p>続きを見る</p></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
<script src = "{% static 'admin/js/detail.js' %}"></script>

{% endblock content %}