{% extends 'animeval/base.html' %}
{% load static %} 
{%block content%}
    <link rel="stylesheet" href="{% static 'post.css' %}">
    <div id = 'wrapper'>
        <div id = 'review'>
            <section id = 'title'>
                <h4>{{context}}</h4>
                <h4>レビューを書いてみよう</h4>
            </section> 
            
            <section id = 'item'>
                <form action="" method = 'POST'>{% csrf_token %}
                    <div>
                        <p>アニメタイトル : {{review.anime.title}}</p>
                    </div>
                    <div id = 'spoiler-question'>
                        <p>ネタバレを含みますか？</p>
                        <p>
                            No<input type="radio" value = '0' name = 'spoiler' checked = 'checked'>
                            Yes<input type="radio" value = '1' name = 'spoiler'>
                        </p>
                    </div>
                    <div id = 'review-content'>
                        <p>レビュー(1行目はタイトルを記入してください)</p>
                        <textarea name="review" id="" cols="50" rows="10">{{pre_review}}</textarea>
                    </div>
                    <div id = 'evaluation-title'>
                        <p>各項目の評価</p>
                    </div>
                    <div id='evaluation'>
                        <div>
                        <p>ストーリー</p>
                            <select name="eva_senario">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                        </div>
                        <div>
                        <p>作画</p>
                            <select name="eva_drawing">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                        </div>
                        <div>
                        <p>音楽</p>
                            <select name="eva_music">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                        </div>
                        <div>
                        <p>キャラクター</p>
                            <select name="eva_character">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                        </div>
                        <div>
                        <p>声優</p>
                            <select name="eva_cv">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                        </div>
                    </div>
                    <div id = 'button'>
                        <input type="submit" value = '登録' name = 'post'>
                    </div>
                </form>
            </section>
        </div>
    </div>
    
    <script>
        const list = [
            {% for anime in anime_title_list %}
            "{{anime}}",
            {% endfor %}
        ];
        
        function inputCheck(){
            render();
            const nameList = []
            let elInput = document.getElementById('anime-title').value;
            let elIn = document.getElementById('search');
            list.forEach( (item) => {
                if (elInput !== ''){
                    if (item.indexOf(elInput) !== -1) {
                        nameList.push(item);
                    }
                }
            });
            nameList.forEach((item) => {
                const newEl = document.createElement('li');
                let newCtx = document.createTextNode(item);
                newEl.appendChild(newCtx);
                newEl.setAttribute('class','anime-list');
                elIn.appendChild(newEl);
            })
            clickEvent();
        }

        let render = () => {
            const animeList = document.getElementById('search');
            animeList.innerHTML = '';
        }    

        let clickEvent = () => {
            document.getElementById('search').addEventListener('click', (e) => {
                console.log(e.target);
                document.getElementById('anime-title').value = e.target.textContent;
                render();
            })
        }
        </script>
{%endblock content%}