{% extends 'accounts/base2.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'login-mod.css' %}">
<div id = 'wrapper'>
    <a class = 'signup' href="{% url 'accounts:user_create' %}">新規登録はこちらから</a>
    <form action="" method = 'POST'>
        <div>
            <div>
                <div class = 'card-body'>
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field }}
                        {{ field.error }}
                        <hr>
                    {% endfor %}
                    <button type = 'submit' class = 'btn btn-success btn-lg btn-block'>ログイン</button>
                    <input type="hidden" name = 'text' value = "{{ next }}">
                    {% csrf_token %}
                </div>
            </div>
        </div>
    </form>
    <a href="{% url 'accounts:user_create' %}">新規会員登録の方はこちら</a>
    <div class = 'social'>
        <h3 id = 'social-title'>SNSでログインする</h3>
        <ul>
            <li id = 'google'><a href="{% provider_login_url 'google' %}">Googleでログイン</a></li>
            <li id = 'twitter'><a href="#">Twitterでログイン</a></li>
            <li id = 'github'><a href="#">Githubでログイン</a></li>
        </ul>
    </div>
</div>
{% endblock content %}